<template>
  <q-page>
    <div
      style="padding-bottom:85px"
      v-if="loadFinish"
    >
      <!-- Select Position -->
      <div class="row justify-center bg-blue-grey-10 ">
        <!-- DESKTOP SELECTION DROPDOWN -->
        <div class="q-pa-md col-lg-4 col-md-6 col-xs-10 row items-center desktop-only">
          <div
            class="col-xs-3 text-grey-2 "
            style="font-size:18px"
          >ตำแหน่ง</div>
          <div class="col-xs-9">
            <q-select
              @input="loadDialog()"
              emit-value
              map-options
              style="border-radius:5px"
              :options="positionOptions"
              v-model="positionSelected"
              class="q-px-sm bg-grey-2"
            ></q-select>
          </div>
        </div>
        <!-- END DESKTOP DROPDOWN -->

        <!-- MOBILE DROPDOWN -->
        <div class="q-pa-md col-md-6 col-xs-11 mobile-only">
          <div>
            <q-select
              @input="loadDialog()"
              label="ตำแหน่ง"
              emit-value
              map-options
              style="border-radius:5px"
              :options="positionOptions"
              v-model="positionSelected"
              class="q-px-sm bg-grey-2"
            ></q-select>
          </div>
        </div>
        <!-- END MOBILE DROPDOWN -->
      </div>
      <!-- End Select Position -->

      <!-- ******************************* MOBILE GUI ************************************ -->

      <div class="mobile-only">
        <q-toolbar
          style="background-color:#354046;border-bottom:1px solid"
          v-for="(item,index) in dialogData"
          :key="index"
          @click="goToDialog(item.key)"
          class="cursor-pointer q-pa-md row items-center"
        >
          <div class="col-10 row items-center">
            <div class="col-12">
              <div class="text-white ">
                {{ item.situationThai }}
              </div>
            </div>
            <div class="col-12">
              <div
                class="text-white q-pt-md "
                style="font-size:12px"
              >{{ item.situationEng }}</div>
            </div>
          </div>
          <q-space></q-space>
          <div>
            <q-btn
              flat
              icon="fas fa-chevron-right"
              color="secondary"
            ></q-btn>
          </div>
        </q-toolbar>
      </div>

      <!-- ******************************* END MOBILE GUI ******************************* -->

      <!-- ******************************* DESKTOP GUI ******************************* -->

      <div class="desktop-only">
        <div class="row q-col-gutter-md q-pa-md  items-center">
          <div
            class="col-4 cursor-pointer"
            v-for="(item,index) in dialogData"
            :key="index"
            @click="goToDialog(item.key)"
          >
            <q-card class="row items-center ">
              <div class="col-12 bg-blue-grey-10 q-px-md q-py-sm text-grey-2">{{ index+1 }}</div>
              <div
                class="col-12 bg-grey-2 q-pa-sm"
                align="center"
              >{{ item.situationEng }}</div>
              <div class="col-12 bg-grey-2 q-px-md">
                <div style="border-top:2px dashed;"></div>
              </div>
              <div
                class="col-12 bg-grey-2 q-px-sm q-pt-sm q-pb-sm"
                align="center"
              >
                {{ item.situationThai }}
              </div>
            </q-card>
          </div>
        </div>
      </div>

      <!-- ******************************* END DESKTOP GUI ******************************* -->

      <app-menu></app-menu>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router";
import appMenu from "../components/menu.vue";
export default {
  components: {
    appMenu
  },
  data() {
    return {
      positionOptions: this.$q.localStorage.has("dialogPosition")
        ? this.$q.localStorage.getItem("dialogPosition")
        : [],
      positionSelected: this.$q.localStorage.has("positionKey")
        ? this.$q.localStorage.getItem("positionKey")
        : "",
      customerKey: this.$q.localStorage.getItem("customerData").key,
      dialogData: this.$q.localStorage.has("dialogData")
        ? this.$q.localStorage.getItem("dialogData")
        : [],
      loadFinish: this.$q.localStorage.has("dialogData") ? true : false
    };
  },
  methods: {
    async loadPosition() {
      this.$q.loading.show({ delay: 400 });
      let customerSettingDb = await db
        .collection("CustomerAccounts")
        .doc(this.customerKey)
        .collection("Settings")
        .doc("PositionSetting")
        .get();
      if (customerSettingDb.exists) {
        for (let i = 0; i < customerSettingDb.data().position.length; i++) {
          let positionDb = await db
            .collection("Position")
            .doc(customerSettingDb.data().position[i])
            .get();

          let option = {
            label: positionDb.data().name,
            value: positionDb.id
          };
          this.positionOptions.push(option);
          this.positionSelected = this.positionOptions[0].value;
          this.$q.loading.hide();
        }
        this.loadDialog();
      } else {
        db.collection("Position")
          .orderBy("orderid")
          .get()
          .then(doc => {
            doc.forEach(element => {
              let option = {
                label: element.data().name,
                value: element.id
              };
              this.positionOptions.push(option);
            });
            this.positionSelected = this.positionOptions[0].value;
            this.$q.localStorage.set("positionKey", this.positionSelected);
            this.$q.loading.hide();
            this.loadDialog();
          });
      }
    },
    loadDialog() {
      this.$q.loading.show({ delay: 400 });
      this.$q.localStorage.set("dialogPosition", this.positionOptions);

      db.collection("Dialog")
        .doc("server")
        .collection("data")
        .where("positionSelec", "array-contains", this.positionSelected)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let dataFinal = { ...dataKey, ...element.data() };
            this.dialogData.push(dataFinal);
          });
          this.$q.localStorage.set("dialogData", this.dialogData);
          this.loadFinish = true;
          this.$q.loading.hide();
        });
    },
    goToDialog(key) {
      this.$router.push("/dialog/" + key);
    }
  },
  mounted() {
    if (!this.$q.localStorage.has("dialogData")) {
      this.loadPosition();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>