<template>
  <div
    style="padding-bottom:85px"
    v-if="loadFinish"
  >
    <!-- VIDEO PLAYER -->
    <div
      class=''
      style="position:sticky;top:30px"
    >
      <!-- DESKTOP -->

      <!-- MOBILE -->
      <video
        width="100%"
        height="240"
        controls
        class='mobile-only'
        v-if="isReadyVDO"
      >
        <source
          v-if="$route.params.key == '3XnQdzWgg5XIclgGUi1k'"
          src="../statics/video/Conver-02-sub_Logo.mp4"
          type="video/mp4"
        >
        <source
          v-if="$route.params.key == '4ZZC13LeDrUJLMXJffwq'"
          src="../statics/video/Conver-01-sub_Logo.mp4"
          type="video/mp4"
        >
        <!-- <source
          :src="dialogSituation.url"
          type="video/mp4"
        > -->
      </video>
      <!-- DESKTOP -->
      <video
        width="100%"
        height="400"
        controls
        class='desktop-only'
        v-if="isReadyVDO"
      >
        <source
          v-if="$route.params.key == '3XnQdzWgg5XIclgGUi1k'"
          src="../statics/video/Conver-02-sub_Logo.mp4"
          type="video/mp4"
        >
        <source
          v-if="$route.params.key == '4ZZC13LeDrUJLMXJffwq'"
          src="../statics/video/Conver-01-sub_Logo.mp4"
          type="video/mp4"
        >
        <!-- <source
          :src="dialogSituation.url"
          type="video/mp4"
        > -->
      </video>
    </div>
    <!-- END VIDEO PLAYER -->

    <!-- TITLE -->
    <div
      class="bg-blue-grey-10 text-grey-2 q-pa-md"
      align="center"
      style="letter-spacing:0.8px"
    >
      <div class='mobile-only'>
        {{ this.dialogSituation.situationThai }}
      </div>
      <div class='q-pt-sm mobile-only'>
        {{ this.dialogSituation.situationEng }}
      </div>

      <div class='desktop-only text-h6'>
        {{ this.dialogSituation.situationThai }}
      </div>
      <div class='q-pt-sm desktop-only text-h6'>
        {{ this.dialogSituation.situationEng }}
      </div>
    </div>
    <!-- END TITLE -->

    <!-- ************************** MOBILE DIALOG LIST ************************** -->
    <div class="mobile-only">
      <div
        class="row bg-blue-grey-10 justify-around q-pb-md q-px-sm  "
        v-for="(item,index) in dialogSentence"
        :key="index"
      >
        <div
          class="col-2 bg-secondary border-radius q-pa-sm row items-center cursor-pointer justify-center"
          align="center"
          @click="mobileRecord(index)"
          v-show="showMicrophoneIndex == index"
        >
          <q-btn
            :disable="isDisableButton"
            icon="fas fa-microphone-alt"
            color="grey-2"
            flat
            :class="{'animated flash infinite':isDisableButton}"
            v-if="!isDisableButton"
          />
          <q-btn
            :disable="isDisableButton"
            icon="fas fa-stop"
            color="amber"
            flat
            :class="{'animated flash infinite':isDisableButton}"
            style="animation-duration:2s"
            v-else
          />
        </div>

        <div
          class=" border-radius q-pa-sm row items-center row col "
          :class="{'animated flash infinite' : activeIndex == index,'col-9' : showMicrophoneIndex == index,'bg-light-blue-1':item.speakerNameEng == 'Staff','bg-green-1':item.speakerNameEng == 'Guest'}"
          style="animation-duration:2s"
          @click="playAudio(item.url,index)"
        >
          <div class="col-12 q-pb-sm">
            {{ item.speakerNameEng }} - {{ item.speakerNameTh }}
          </div>
          <div class="col-12 q-px-xs q-pb-sm">
            <div style="border-top:2px dashed;"></div>
          </div>
          <div class='col-12'>
            {{ item.sentenceEng }}
          </div>
          <div class="col-12 q-pt-sm">
            {{ item.sentenceThai }}
          </div>
        </div>
      </div>
    </div>
    <!-- ************************** END MOBILE DIALOG LIST ********************** -->

    <!-- NOTE DESKTOP UI -->

    <div class='q-pa-md desktop-only'>
      <div class="row q-pa-md text-grey2 items-center bg-blue-grey-10">

        <div
          class='col-12  row q-ma-sm relative-position '
          v-for="(item,index) in dialogSentence"
          :key="index"
        >
          <div
            class="col-9 row bg-grey-2 q-pa-sm  items-center"
            style="border-radius:5px;z-index:200"
          >
            <div class="col-12 q-pb-sm">{{ item.sentenceEng }}</div>
            <div
              class="col-12 q-pt-sm"
              style="border-top:2px dashed;"
            ></div>
            <div class="col-12">{{ item.sentenceThai }}</div>

          </div>

          <div
            class="col-3  bg-grey q-pl-md  row items-center  relative-position "
            style="right:15px;z-index:100;border-top-right-radius:5px;border-bottom-right-radius:5px"
            align="center"
          >

            <!-- NOTE Audio ICON DESKTOP -->
            <div class="col-6 ">
              <q-btn
                :disable="isDisableButton"
                flat
                icon="fas fa-volume-up"
                color="secondary"
                size="24px"
                v-if="playingAudioIndex == index"
                :class="{'animated flash infinite' : playingAudioIndex == index}"
                style="animation-duration:2s"
              ></q-btn>
              <q-btn
                :disable="isDisableButton"
                flat
                icon="fas fa-volume-up"
                color="grey-2"
                size="24px"
                v-else
                @click="playAudio(item.url,index)"
              ></q-btn>

            </div>
            <!-- NOTE END AUDIO ICON DESKTOP -->

            <!-- NOTE MICRO ICON DESKTOP -->
            <div class="col-6 ">
              <q-btn
                :disable="isDisableButton"
                v-if="activeRecord != index"
                @click="desktopRecord(index)"
                flat
                icon="fas fa-microphone-alt"
                color="grey-2"
                size="24px"
              ></q-btn>
              <q-btn
                :disable="isDisableButton"
                v-else
                flat
                icon="fas fa-stop"
                color="amber"
                size="24px"
                class='animated flash infinite'
                style="animation-duration:2s"
              ></q-btn>
            </div>
            <!-- NOTE END MICRO ICON DESKTOP -->

          </div>
        </div>
      </div>

    </div>
    <!-- END DESKTOP UI -->
    <app-menu></app-menu>
  </div>
</template>

<script>
import { db } from "../router";
import appMenu from "../components/menu.vue";
export default {
  components: {
    appMenu
  },
  data() {
    return {
      dialogKey: this.$route.params.key,
      dialogSituation: "",
      dialogSentence: [],
      isReadyVDO: false,
      activeIndex: null,
      showMicrophoneIndex: null,
      isDisableButton: false,
      playingAudioIndex: null,
      activeRecord: null,
      loadFinish: false
    };
  },
  methods: {
    playAudio(url, index) {
      if (this.isDisableButton == false) {
        this.playingAudioIndex = index;
        this.isDisableButton = true;
        let _this = this;
        _this.showMicrophoneIndex = null;
        let audio = new Audio(url);
        audio.play();
        this.activeIndex = index;
        audio.onended = function() {
          _this.activeIndex = null;
          _this.showMicrophoneIndex = index;
          _this.isDisableButton = false;
          _this.playingAudioIndex = null;
        };
      }
    },
    loadDialogSituation() {
      this.$q.loading.show({ delay: 400 });
      db.collection("Dialog")
        .doc("server")
        .collection("data")
        .doc(this.dialogKey)
        .get()
        .then(doc => {
          this.dialogSituation = doc.data();
          this.isReadyVDO = true;
          this.loadDialogSentence();
        });
    },
    loadDialogSentence() {
      db.collection("Dialog")
        .doc("server")
        .collection("data")
        .doc(this.dialogKey)
        .collection("sentence")
        .get()
        .then(doc => {
          doc.forEach(element => {
            db.collection("Dialog")
              .doc("server")
              .collection("data")
              .doc(this.dialogKey)
              .collection("speaker")
              .doc(element.data().speakerKey)
              .get()
              .then(speaker => {
                let dataKey = {
                  key: element.id,
                  speakerNameEng: speaker.data().speakerEng,
                  speakerNameTh: speaker.data().speakerThai
                };
                let dataFinal = { ...dataKey, ...element.data() };
                this.dialogSentence.push(dataFinal);
                this.dialogSentence.sort((a, b) => {
                  return a.orderId - b.orderId;
                });
              });
          });
          this.$q.loading.hide();
          this.loadFinish = true;
        });
    },
    desktopRecord(index) {
      let _this = this;
      this.activeRecord = index;
      _this.isDisableButton = true;
      navigator.mediaDevices
        .getUserMedia({
          audio: true
        })
        .then(stream => {
          const mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();

          const audioChunks = [];
          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          // หากไม่มีการอัดเสียงเป็นเวลา 20 วินาที ให้ทำการอัดใหม่ เปลี่ยนสถานะปุ่มอัดเสียงเป็น Enable
          let sto = setTimeout(() => {
            _this.isDisableButton = false;
          }, 5000);

          var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
          var recognition = new SpeechRecognition();
          recognition.lang = "en-US";
          recognition.interimResults = false;
          recognition.maxAlternatives = 1;
          recognition.onresult = function(event) {
            for (var i = 0; i < event.results.length; i++) {
              var speechRecognitionResult = event.results[i];
              for (var j = 0; j < speechRecognitionResult.length; j++) {
                var speechRecognitionAlternative = speechRecognitionResult[i];
                console.log("SPEECH", speechRecognitionAlternative.transcript);
                console.log("Prob:", speechRecognitionAlternative.confidence);
                // _this.expression[index].textToSpeech =
                //   speechRecognitionAlternative.transcript;
              }
            }
          };
          // ตอนพูดเสร็จ
          recognition.onspeechend = function() {
            mediaRecorder.stop();
            mediaRecorder.addEventListener("stop", () => {
              const audioBlob = new Blob(audioChunks);
              const audioUrl = URL.createObjectURL(audioBlob);
              const audio = new Audio(audioUrl);
              audio.play();
              audio.addEventListener("ended", function(e) {
                clearTimeout(sto);
                _this.isDisableButton = false;
                _this.activeRecord = null;
              });
            });
            setTimeout(function(e) {
              recognition.stop(); // เมื่อพูดจบ ให้ปิดการบันทึกเสียง
            }, 1000);
          };
          recognition.start(); // เริ่มบันทึกเสียง
        });
    },
    mobileRecord(index) {
      let _this = this;
      _this.isDisableButton = true;

      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia({
            audio: true
          });
          const mediaRecorder = new MediaRecorder(stream);
          const audioChunks = [];

          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          const start = () => mediaRecorder.start();

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener("stop", () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioBlob, audioUrl, play });
              });
              mediaRecorder.stop();
            });
          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      (async () => {
        const recorder = await recordAudio();
        recorder.start();
        await sleep(5000);
        const audio = await recorder.stop();
        audio.play();
        setTimeout(() => {
          _this.isDisableButton = false;
        }, 5000);
      })();
    }
  },
  mounted() {
    this.loadDialogSituation();
  }
};
</script>

<style>
.border-radius {
  border-radius: 5px;
}
</style>