<template>
  <q-page v-if="loadFinish">
    <!-- Select Position -->
    <div class="row justify-center bg-blue-grey-10">
      <!-- DESKTOP SELECTION DROPDOWN -->
      <div class="q-pa-md col-lg-4 col-md-6 col-xs-10 row items-center desktop-only">
        <div
          class="col-xs-3 text-grey-2 "
          style="font-size:18px"
        >ตำแหน่ง</div>
        <div class="col-xs-9">
          <q-select
            @input="loadSituation()"
            emit-value
            map-options
            style="border-radius:5px"
            :options="positionOptions"
            v-model="positionSelected"
            class="q-px-sm bg-grey-2"
          ></q-select>
        </div>
      </div>
      <!-- END DESKTOP DROPDOWN -->

      <!-- MOBILE DROPDOWN -->
      <div class="q-pa-md col-md-6 col-xs-11 mobile-only">
        <div>
          <q-select
            label="ตำแหน่ง"
            @input="loadSituation()"
            emit-value
            map-options
            style="border-radius:5px"
            :options="positionOptions"
            v-model="positionSelected"
            class="q-px-sm bg-grey-2"
          ></q-select>
        </div>
      </div>
      <!-- END MOBILE DROPDOWN -->
    </div>
    <!-- End Select Position -->

    <!--NOTE MOBILE GUI Each toolbar -->
    <div class="mobile-only">
      <q-toolbar
        style="background-color:#354046;border-bottom:1px solid"
        v-for="(item,index) in expressionData"
        :key="index"
        @click="goToExpression(item.key)"
        class="cursor-pointer q-pa-md"
      >
        <div class="text-white q-pa-sm">{{ item.name }}</div>
        <q-space></q-space>
        <div>
          <q-btn
            flat
            icon="fas fa-chevron-right"
            color="secondary"
          ></q-btn>
        </div>
      </q-toolbar>
    </div>
    <!--NOTE END MOBILE GUI Each toolbar -->

    <!--NOTE DESKTOP GUI Each toolbar -->
    <div class="desktop-only">
      <div class="row q-col-gutter-md q-pa-md">
        <div
          class="col-4 cursor-pointer"
          v-for="(item,index) in expressionData"
          :key="index"
          @click="goToExpression(item.key)"
        >
          <q-card class="row">
            <div class="col-12 bg-blue-grey-10 q-px-md q-py-sm text-grey-2">{{ index+1 }}</div>
            <div
              class="col-12 bg-grey-2 q-pa-sm"
              align="center"
            >{{ item.name }}</div>
          </q-card>
        </div>
      </div>
    </div>
    <!--NOTE DESKTOP GUI Each toolbar -->

    <app-menu></app-menu>
  </q-page>
</template>

<script>
import { db } from "../router";
import appMenu from "../components/menu.vue";
export default {
  components: {
    appMenu
  },
  data() {
    return {
      positionOptions: this.$q.localStorage.has("expressionPosition")
        ? this.$q.localStorage.getItem("expressionPosition")
        : [],
      positionSelected: this.$q.localStorage.has("positionKey")
        ? this.$q.localStorage.getItem("positionKey")
        : "",
      expressionData: this.$q.localStorage.has("expressionList")
        ? this.$q.localStorage.getItem("expressionList")
        : [],
      customerKey: this.$q.localStorage.getItem("customerData").key,
      loadFinish: this.$q.localStorage.has("expressionList") ? true : false
    };
  },
  methods: {
    async loadPosition() {
      this.$q.loading.show({ delay: 400 });
      db.collection("CustomerAccounts")
        .doc(this.customerKey)
        .collection("Settings")
        .doc("PositionSetting")
        .get()
        .then(doc => {
          if (doc.exists) {
            let i = 0;
            doc.data().position.forEach(async element => {
              db.collection("Position")
                .doc(element)
                .get()
                .then(pos => {
                  let option = {
                    label: pos.data().name,
                    value: pos.id
                  };
                  this.positionOptions.push(option);
                  this.positionSelected = this.positionOptions[0].value;
                  if (i == 0) {
                    this.loadSituation();
                    i++;
                  }
                  this.$q.localStorage.set(
                    "expressionPosition",
                    this.positionOptions
                  );
                  this.$q.loading.hide();
                });
            });
          } else {
            db.collection("Position")
              .orderBy("orderid")
              .get()
              .then(doc => {
                doc.forEach(element => {
                  let option = {
                    label: element.data().name,
                    value: element.id
                  };
                  this.positionOptions.push(option);
                });

                this.positionSelected = this.positionOptions[0].value;
                this.$q.localStorage.set("positionKey", this.positionSelected);

                this.loadSituation();
                this.$q.loading.hide();
              });
          }
        });
    },
    loadSituation() {
      this.expressionData = [];
      this.$q.localStorage.set("positionKey", this.positionSelected);
      this.$q.loading.show({ delay: 400 });

      db.collection("Situation")
        .where("positionKey", "==", this.positionSelected)
        .get()
        .then(situationData => {
          if (situationData.size) {
            situationData.forEach(situationDoc => {
              let dataAdd = {
                name: situationDoc.data().name,
                key: situationDoc.id
              };
              let dataFinal = { ...dataAdd, ...situationDoc.data() };
              this.expressionData.push(dataFinal);
              this.$q.loading.hide();
              this.loadFinish = true;
            });

            this.$q.localStorage.set("expressionList", this.expressionData);
          } else {
            this.$q.loading.hide();
            this.loadFinish = true;
          }
        });
    },
    goToExpression(key) {
      this.$router.push("/expression/" + key);
    }
  },
  mounted() {
    if (!this.$q.localStorage.has("expressionList")) {
      this.loadPosition();
    }
  }
};
</script>

<style>
</style>