<template>
  <div style="padding-bottom:85px">
    <!-- Select Situation -->
    <div class="row justify-center bg-blue-grey-10">
      <!-- DESKTOP DROPDOWN -->
      <div class="q-pa-md col-lg-4 col-md-6 col-xs-10 row items-center desktop-only">
        <div
          class="col-lg-3 col-xs-4 text-grey-2"
          style="font-size:16px"
          align="center"
        >สถานการณ์</div>
        <div class="col-lg-9 col-xs-8">
          <q-select
            @input="loadExpression()"
            emit-value
            map-options
            style="border-radius:5px"
            :options="situationOptions"
            v-model="situationSelected"
            class="q-px-sm bg-grey-2"
          ></q-select>
        </div>
      </div>
      <!-- END DESKTOP DROPDOWN -->

      <!-- MOBILE DROPDOWN -->
      <div class="q-pa-md col-md-6 col-xs-11 mobile-only">
        <div>
          <q-select
            label="สถานการณ์"
            @input="loadExpression()"
            emit-value
            map-options
            style="border-radius:5px"
            :options="situationOptions"
            v-model="situationSelected"
            class="q-px-sm bg-grey-2"
          ></q-select>
        </div>
      </div>
      <!-- END MOBILE DROPDOWN -->
    </div>
    <!-- End Select Situation -->
    <!--SECTION  MOBILE GUI Script List -->
    <div
      class='mobile-only q-pa-sm'
      style="background-color:#354046;"
    >
      <div
        class="row q-py-md-md q-py-xs-xs text-grey2 items-center"
        v-for="(item,index) in expression"
        :key="index"
      >
        <div
          class="col-xs-3  col-lg-1 "
          align="center"
        >
          <q-btn
            v-if="item.favourite == true"
            flat
            icon="fas fa-heart"
            color="pink-3"
            @click="favourite(index)"
            size="30px"
          ></q-btn>
          <q-btn
            v-else
            flat
            icon="far fa-heart"
            @click="favourite(index)"
            size="30px"
          ></q-btn>
        </div>

        <div
          class="col-lg-10 col-xs-9 row items-center bg-grey-2 text-blue-grey-10 q-pa-sm  "
          :class="{'animated flash infinite' : activeContent == index}"
          style="border-radius:5px;animation-duration:2s"
          @click="showRecord(index,item.url)"
        >

          <div class="col-12 q-pb-sm">{{ item.sentenceEnglish }}</div>
          <div
            class="col-12 q-pt-sm"
            style="border-top:2px dashed;"
          ></div>
          <div class="col-12">{{ item.sentenceThai }}</div>
        </div>

        <!-- MICROPHONE ICON SHOW WHEN USER CLICK ON EXPRESSION -->
        <div
          class="col-xs-3 col-lg-1  q-mt-sm "
          v-show="showRecorderIndex == index"
          align="center"
        >
          <q-btn
            v-if="!microphoneIndex.includes(index)"
            flat
            icon="fas fa-microphone-alt"
            color="secondary"
            @click="mobileRecord(index)"
            :disable="isDisableButton"
            size="30px"
          ></q-btn>
          <q-btn
            v-else
            flat
            icon="fas fa-stop"
            color="amber"
            :disable="isDisableButton"
            size="30px"
            class='animated flash infinite'
            style="animation-duration:2s"
          ></q-btn>
        </div>
        <!--END MICROPHONE ICON SHOW WHEN USER CLICK ON EXPRESSION -->

        <!-- SECTION  RECORDER -->
        <transition
          appear
          enter-active-class="animated fadeIn"
        >
          <div
            class="col-lg-10 col-xs-9 q-mt-sm  row items-center bg-secondary text-grey-2 q-pa-sm  "
            style="border-radius:5px"
            v-show="showRecorderIndex == index"
          >
            <div class="col-12"></div>
            <div class="col-12 q-pb-sm "> {{ item.sentenceEnglish }}</div>
            <div
              class="col-12 q-pt-sm"
              style="border-top:2px dashed;"
            ></div>
            <div class="col-12">{{ item.sentenceThai }}</div>
          </div>
        </transition>
        <!-- SECTION  END RECORDER -->
      </div>
    </div>

    <!-- SECTION  MOBILE GUI End Script List -->

    <!-- ************************************************************************* -->
    <!-- SECTION  DESKTOP UI -->

    <div class='q-pa-md desktop-only'>
      <div class="row q-pa-md text-grey2 items-center bg-blue-grey-10">

        <div
          class='col-12  row q-ma-sm relative-position '
          v-for="(item,index) in expression"
          :key="index"
        >
          <div
            class="col-9 row bg-grey-2 q-pa-sm  items-center"
            style="border-radius:5px;z-index:200"
          >
            <div class="col-12 q-pb-sm">{{ item.sentenceEnglish }}</div>
            <div
              class="col-12 q-pt-sm"
              style="border-top:2px dashed;"
            ></div>
            <div class="col-12">{{ item.sentenceThai }}</div>

          </div>

          <div
            class="col-3  bg-grey q-pl-md  row items-center  relative-position "
            style="right:15px;z-index:100;border-top-right-radius:5px;border-bottom-right-radius:5px"
            align="center"
          >
            <!-- SECTION  HEART ICON DESKTOP -->
            <div class="col-4">
              <q-btn
                :disable="isDisableButton"
                v-if="item.favourite == true"
                flat
                icon="fas fa-heart"
                color="pink-3"
                @click="favourite(index)"
                size="24px"
              ></q-btn>
              <q-btn
                :disable="isDisableButton"
                v-else
                flat
                color="white"
                icon="far fa-heart"
                @click="favourite(index)"
                size="24px"
              ></q-btn>
            </div>
            <!-- SECTION  END HEART ICON DESKTOP -->
            <!-- SECTION  Audio ICON DESKTOP -->
            <div class="col-4 ">
              <q-btn
                :disable="isDisableButton"
                flat
                icon="fas fa-volume-up"
                color="secondary"
                size="24px"
                class='animated flash infinite'
                style="animation-duration:2s"
                v-if="playingAudioIndex == index"
              ></q-btn>
              <q-btn
                :disable="isDisableButton"
                flat
                icon="fas fa-volume-up"
                color="grey-2"
                size="24px"
                v-else
                @click="playAudio(item.url,index)"
              ></q-btn>

            </div>
            <!-- SECTION  END AUDIO ICON DESKTOP -->
            <!-- SECTION  MICRO ICON DESKTOP -->
            <div class="col-4">
              <q-btn
                :disable="isDisableButton"
                v-if="!microphoneIndex.includes(index)"
                @click="desktopRecord(index)"
                flat
                icon="fas fa-microphone-alt"
                color="grey-2"
                size="24px"
              ></q-btn>
              <q-btn
                :disable="isDisableButton"
                v-else
                flat
                icon="fas fa-stop"
                color="amber"
                size="24px"
                class='animated flash infinite'
                style="animation-duration:2s"
              ></q-btn>
            </div>
            <!-- SECTION  END MICRO ICON DESKTOP -->
          </div>
        </div>
      </div>
    </div>

    <app-menu></app-menu>
    <!-- ************************************************************************* -->

  </div>

  <!-- SECTION  END DESKTOP UI -->
</template>


<script>
import { db } from "../router";
import appMenu from "../components/menu.vue";
var recorder, gumStream;
export default {
  components: {
    appMenu
  },
  data() {
    return {
      situationKey: this.$route.params.key,
      positionKey: this.$q.localStorage.getItem("positionKey"),
      expression: [],
      favourites: [],
      showRecorderIndex: null,
      audioSource: null,
      situationOptions: [],
      situationSelected: "",
      isRecording: false,
      microphoneIndex: [],
      playingAudioIndex: null,
      isDisableMic: false,
      isDisableButton: false,
      activeContent: null
    };
  },
  methods: {
    favourite(index) {
      let _this = this;
      this.$q.loading.show({ delay: 400 });
      _this.isDisableButton = true;

      let favouriteExpressionCollection = db
        .collection("CustomerAccounts")
        .doc(this.$q.localStorage.getItem("customerData").key)
        .collection("FavouriteExpression")
        .doc(this.situationSelected)
        .collection("favourite");

      if (this.expression[index].favourite == true) {
        this.expression[index].favourite = false;
      } else {
        this.expression[index].favourite = true;
      }

      // SORT ภายใน เร็วกว่า แต่เหมือนทำงานไม่ครบ process
      // this.expression.sort((a, b) => {
      //   return b.favourite - a.favourite;
      // });

      favouriteExpressionCollection.get().then(doc => {
        if (doc.size) {
          // กรณี สถานการณ์นี้มีการตั้ง Favourite
          favouriteExpressionCollection
            .doc(this.expression[index].key)
            .update(this.expression[index])
            .then(res => {
              let newExpression = [];
              favouriteExpressionCollection
                .orderBy("orderid")
                .get()
                .then(favouriteData => {
                  favouriteData.forEach(favouriteDoc => {
                    let dataKey = {
                      key: favouriteDoc.id
                    };
                    let dataFinal = { ...dataKey, ...favouriteDoc.data() };
                    newExpression.push(dataFinal);
                    newExpression.sort((a, b) => {
                      return b.favourite - a.favourite;
                    });
                  });
                  this.expression = newExpression;
                  _this.isDisableButton = false;
                  this.$q.loading.hide();
                });
            });
        } else {
          // กรณี ยังไม่เคยมีการตั้ง Favourite
          for (let i = 0; i < this.expression.length; i++) {
            if (i != index) {
              this.expression[i].favourite = false;
            }
            favouriteExpressionCollection
              .doc(this.expression[i].key)
              .set(this.expression[i])
              .then(res => {
                _this.isDisableButton = false;
              });
          }
          this.$q.loading.hide();
        }
      });
    },
    async loadExpression() {
      this.microphoneIndex = [];
      this.playingAudioIndex = null;
      this.isDisableMic = false;
      this.isDisableButton = false;
      this.activeContent = null;
      this.$q.loading.show({
        delay: 400
      });
      let favouriteExpressionCollection = db
        .collection("CustomerAccounts")
        .doc(this.$q.localStorage.getItem("customerData").key)
        .collection("FavouriteExpression")
        .doc(this.situationSelected)
        .collection("favourite");

      favouriteExpressionCollection.get().then(fav => {
        if (fav.size) {
          let newExpression = [];
          favouriteExpressionCollection.get().then(favouriteData => {
            favouriteData.forEach(favouriteDoc => {
              let dataKey = {
                key: favouriteDoc.id
              };
              let dataFinal = { ...dataKey, ...favouriteDoc.data() };
              newExpression.push(dataFinal);
              newExpression.sort((a, b) => {
                let aFavourite = a.favourite;
                let bFavourite = b.favourite;
                let aOrder = a.orderid;
                let bOrder = b.orderid;
                return bFavourite - aFavourite || aOrder - bOrder;
              });
            });
            this.expression = newExpression;
            this.$q.loading.hide();
          });
        } else {
          this.expression = [];

          db.collection("Expression")
            .doc("server")
            .collection("data")
            .where("positionKey", "==", this.positionKey)
            .where("situationKey", "==", this.situationSelected)
            .get()
            .then(doc => {
              doc.forEach(element => {
                let dataKey = {
                  key: element.id
                };
                let dataFinal = { ...dataKey, ...element.data() };
                this.expression.push(dataFinal);
              });
              this.expression.sort((a, b) => {
                return a.orderid - b.orderid;
              });
              this.$q.loading.hide();
            });
        }
      });
    },
    showRecord(index, url) {
      if (!this.isDisableButton) {
        this.activeContent = index;
        this.isDisableButton = true;
        let _this = this;
        let audio = new Audio(url);
        _this.showRecorderIndex = null;
        audio.play();
        audio.onended = function() {
          _this.showRecorderIndex = index;
          _this.isDisableButton = false;
          _this.activeContent = null;
        };
      }
    },
    loadSituation() {
      this.$q.loading.show({ delay: 400 });
      db.collection("Situation")
        .where("positionKey", "==", this.positionKey)
        .get()
        .then(situationData => {
          if (situationData.size) {
            situationData.forEach(element => {
              let data = {
                label: element.data().name,
                value: element.id
              };
              this.situationOptions.push(data);
            });
            this.situationSelected = this.situationKey;
            this.loadExpression();
          } else {
            this.$q.loading.hide();
          }
        });
    },
    desktopRecord(index) {
      let _this = this;
      this.microphoneIndex = [index];
      _this.isDisableButton = true;
      navigator.mediaDevices
        .getUserMedia({
          audio: true
        })
        .then(stream => {
          const mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();

          const audioChunks = [];
          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          // หากไม่มีการอัดเสียงเป็นเวลา 20 วินาที ให้ทำการอัดใหม่ เปลี่ยนสถานะปุ่มอัดเสียงเป็น Enable
          let sto = setTimeout(() => {
            _this.microphoneIndex = [];
            _this.isDisableButton = false;
          }, 5000);

          var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
          var recognition = new SpeechRecognition();
          recognition.lang = "en-US";
          recognition.interimResults = false;
          recognition.maxAlternatives = 1;
          recognition.onresult = function(event) {
            for (var i = 0; i < event.results.length; i++) {
              var speechRecognitionResult = event.results[i];
              for (var j = 0; j < speechRecognitionResult.length; j++) {
                var speechRecognitionAlternative = speechRecognitionResult[i];
                console.log("SPEECH", speechRecognitionAlternative.transcript);
                console.log("Prob:", speechRecognitionAlternative.confidence);
                // _this.expression[index].textToSpeech =
                //   speechRecognitionAlternative.transcript;
              }
            }
          };
          // ตอนพูดเสร็จ
          recognition.onspeechend = function() {
            mediaRecorder.stop();
            mediaRecorder.addEventListener("stop", () => {
              const audioBlob = new Blob(audioChunks);
              const audioUrl = URL.createObjectURL(audioBlob);
              const audio = new Audio(audioUrl);
              audio.play();
              audio.addEventListener("ended", function(e) {
                clearTimeout(sto);
                _this.microphoneIndex = [];
                _this.isDisableButton = false;
              });
            });
            setTimeout(function(e) {
              recognition.stop(); // เมื่อพูดจบ ให้ปิดการบันทึกเสียง
            }, 1000);
          };
          recognition.start(); // เริ่มบันทึกเสียง
        });
    },
    playAudio(url, index) {
      let _this = this;
      _this.isDisableButton = true;
      this.playingAudioIndex = index;
      let audio = new Audio(url);
      audio.play();
      audio.onended = function() {
        _this.playingAudioIndex = null;
        _this.isDisableButton = false;
      };
    },
    mobileRecord(index) {
      let _this = this;
      this.microphoneIndex = [index];
      _this.isDisableButton = true;

      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia({
            audio: true
          });
          const mediaRecorder = new MediaRecorder(stream);
          const audioChunks = [];

          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          const start = () => mediaRecorder.start();

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener("stop", () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioBlob, audioUrl, play });
              });
              mediaRecorder.stop();
            });
          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      (async () => {
        const recorder = await recordAudio();
        recorder.start();
        await sleep(5000);
        const audio = await recorder.stop();
        audio.play();

        setTimeout(() => {
          _this.microphoneIndex = [];
          _this.isDisableButton = false;
        }, 5000);
      })();
    }
  },
  mounted() {
    this.loadSituation();
  }
};
</script>

<style>
</style>