<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <transition appear enter-active-class="animated fadeIn">
      <div class="window-height row justify-center items-center">
        <!-- **************************** NOTE MOBILE UI **************************** -->
        <div class="col-12 q-py-xs-xl mobile-only">
          <div align="center">
            <q-img src="statics/forgotPassword.png" style="width:250px;" />
          </div>
          <div class="row items-center justify-center">
            <div
              class="col-lg-3 col-md-6 col-xs-10 login-color q-pa-md login-radius"
              align="center"
            >
              <div class="row">
                <div class="col-12">
                  <q-input
                    ref="email"
                    v-model.trim="email"
                    label="กรอก E-mail เพื่อขอรับรหัสผ่านใหม่"
                    bg-color="grey-2"
                    :rules="[ val => val && val.length > 0]"
                  >
                    <template v-slot:prepend>
                      <q-icon class="q-pl-md" name="fas fa-user" />
                    </template>
                  </q-input>
                </div>
                <div class="col-12">
                  <q-btn
                    class="full-width font-14 q-pa-sm"
                    label="ส่ง"
                    color="secondary"
                    @click="send()"
                  ></q-btn>
                </div>
                <div class="col-12 q-pt-md">
                  <div class="text-white">หรือติดต่อเจ้าหน้าที่โทร 09-999-9999</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- **************************** NOTE END MOBILE UI **************************** -->

        <!-- **************************** NOTE  DESKTOP UI **************************** -->
        <div class="desktop-only col-lg-6 col-md-8" align="center">
          <div align="center" class="q-pa-md">
            <div class="row justify-center">
              <div
                align="center"
                class="col-sm-5 col-xs-12 bg-blue-grey-10 login-radius q-pa-md relative-position"
                :class="{'left-position right-shadow':width > 599}"
                v-show="width > 599"
              >
                <div class="q-pa-md">
                  <div class="q-pa-md">
                    <q-img src="statics/logo.png" style="width:150px;"></q-img>
                  </div>
                  <br />
                  <div style="height:5px"></div>

                  <div class="q-pt-lg">
                    <q-img src="statics/logo.png" style="width:50px;"></q-img>
                    <span class="text-white" style="letter-spacing:1.5px">&nbsp;Winner@Work</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-xs-12 q-py-sm login-radius bg-grey-2 relative-position">
                <div align="center" class="text-h6">ลืมรหัสผ่าน</div>
                <div align="center" class="q-pt-sm">
                  <q-img src="statics/forgotPassword.png" style="width:140px;" />
                </div>
                <div class="row items-center justify-center">
                  <div class="col-9 q-pa-md login-radius" align="center">
                    <div class="row">
                      <div class="col-12">
                        <q-input
                          ref="email"
                          v-model.trim="email"
                          label="กรอก E-mail เพื่อขอรับรหัสผ่านใหม่"
                          bg-color="grey-2"
                          :rules="[ val => val && val.length > 0]"
                        ></q-input>
                      </div>
                      <div class="col-12">
                        <q-btn
                          class="full-width font-14 q-pa-sm"
                          label="ส่ง"
                          color="secondary"
                          @click="send()"
                        ></q-btn>
                      </div>
                      <div class="col-12 q-pt-md">
                        <div class="text-blue-grey-10">หรือติดต่อเจ้าหน้าที่โทร 09-999-9999</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- **************************** NOTE END DESKTOP UI **************************** -->
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      width: window.innerWidth
    };
  },
  methods: {
    send() {},
    onResize(data) {
      this.width = data.width;
    }
  }
};
</script>

<style>
.login-color {
  background-color: #354046;
}
.login-radius {
  border-radius: 10px;
}

.right-shadow {
  box-shadow: 5px 0px 5px #192125;
}
.right-position {
  right: 10px;
  z-index: 100;
  padding-left: 35px;
}
.left-position {
  left: 10px;
  z-index: 200;
}
</style>