<template>
  <div class='mobile-only bg-blue-grey-10'>
    <div class="q-pa-md">
      <div
        style='font-size:20px'
        class='text-grey-2'
      >
        แก้ไขข้อมูลส่วนตัว
      </div>
      <!-- NAME TEXTBOX -->
      <div class='q-pt-md'>
        <q-input
          v-model="customerObj.name"
          label="ชื่อ"
          class='bg-grey-2 q-px-sm round-contaner'
        ></q-input>
      </div>
      <!-- END NAME TEXTBOX -->

      <!-- SURNAME TEXTBOX -->
      <div class='q-pt-md'>
        <q-input
          v-model="customerObj.surname"
          label="นามสกุล"
          class='bg-grey-2 q-px-sm round-contaner'
        ></q-input>
      </div>
      <!-- END SURNAME TEXTBOX -->

      <!-- PASSWORD TEXTBOX -->
      <div class='q-pt-md'>
        <q-input
          v-model="customerObj.password"
          label="รหัสผ่าน"
          class='bg-grey-2 q-px-sm round-contaner'
        ></q-input>
      </div>
      <!-- END PASSWORD TEXTBOX -->

      <!-- SURNAME TEXTBOX -->
      <div class='q-pt-md'>
        <q-input
          v-model="customerObj.email"
          label="E-mail"
          class='bg-grey-2 q-px-sm round-contaner'
        ></q-input>
      </div>
      <!-- END SURNAME TEXTBOX -->

      <!-- SURNAME TEXTBOX -->
      <div class='q-pt-md'>
        <q-select
          v-model="customerObj.sex"
          class='bg-grey-2 q-px-sm round-contaner'
          :options="sexOptions"
        ></q-select>
      </div>
      <!-- END SURNAME TEXTBOX -->

      <div class="row justify-center q-pa-md ">
        <div
          class="col-5"
          align="center"
        >
          <q-btn
            style='width:130px'
            label="ยกเลิก"
            color="grey-2"
            text-color="blue-grey-10"
            to="/usersetting"
          ></q-btn>
        </div>
        <div
          class="col-5"
          align="center"
        >
          <q-btn
            style='width:130px'
            label="บันทึก"
            color="secondary"
            @click="editCustomerData()"
          ></q-btn>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      customerObj: {
        name: "",
        surname: "",
        password: "",
        email: "",
        sex: "ชาย"
      },
      sexOptions: ["ชาย", "หญิง"]
    };
  },
  methods: {
    editCustomerData() {
      let customerData = this.$q.localStorage.getItem("customerData");
      db.collection("CustomerAccounts")
        .doc(customerData.key)
        .update(this.customerObj);
    },
    loadCustomerData() {
      let customerData = this.$q.localStorage.getItem("customerData");
      this.customerObj.name = customerData.name;
      this.customerObj.surname = customerData.surname;
      this.customerObj.password = customerData.password;
      this.customerObj.email = customerData.email;
      this.customerObj.sex = customerData.sex;
    }
  },
  mounted() {
    this.loadCustomerData();
  }
};
</script>

<style>
.round-contaner {
  border-radius: 5px;
}
</style>