<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <transition
      appear
      enter-active-class="animated fadeIn"
    >
      <div class="window-height row items-center">
        <div class="col-12 row justify-center q-py-xs-xl">
          <!-- ******************* NOTE MOBILE LOGIN UI******************* -->
          <div
            class="col-lg-3 col-md-6 col-xs-10 login-color q-pa-md login-radius mobile-only"
            align="center"
          >
            <div class="row relative-position">
              <!-- Logo -->
              <div
                class="col-12 absolute"
                style="top:-45px"
              >
                <q-img
                  src="statics/logo.png"
                  style="width:120px;"
                ></q-img>
                <br />
                <div style="height:5px"></div>
                <span
                  class="text-white"
                  style="letter-spacing:1.0px"
                >Winner@Work</span>
              </div>

              <div
                class="col-12"
                style="height:60px"
              ></div>
              <!-- End Logo -->
              <!-- Username TextBox -->
              <div class="col-12">
                <q-input
                  ref="username"
                  v-model.trim="username"
                  label="เบอร์โทรศัพท์"
                  bg-color="grey-2"
                  :rules="[ val => val && val.length > 0]"
                >
                  <template v-slot:prepend>
                    <q-icon
                      class="q-pl-md"
                      name="fas fa-user"
                    />
                  </template>
                </q-input>
              </div>
              <!-- End Username TextBox -->
              <!-- Password TextBox -->
              <div class="col-12">
                <q-input
                  ref="password"
                  v-model.trim="password"
                  label="รหัสผ่าน"
                  bg-color="grey-2"
                  @keyup.enter="login()"
                  :type="isPwd ? 'password' : 'text'"
                  :rules="[ val => val && val.length > 0]"
                >
                  <template v-slot:prepend>
                    <q-icon
                      class="q-pl-md"
                      name="fas fa-lock"
                    />
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer q-pr-md"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
              <!-- End Password TextBox -->
              <!-- Login Button -->
              <div class="col-12">
                <q-btn
                  class="full-width q-pa-sm"
                  label="เข้าสู่ระบบ"
                  color="secondary"
                  @click="login()"
                ></q-btn>
              </div>
              <!-- End Login Button -->
              <!-- Forgot password Text -->
              <div
                class="col-6 q-mt-md text-white"
                align="left"
              >
                <router-link
                  to="/forgotpassword"
                  class="text-white"
                >ลืมรหัสผ่าน</router-link>
              </div>
              <!-- End Forgot password Text -->
              <!-- Register Text -->
              <div
                class="col-6 q-mt-md text-white"
                align="right"
              >
                <router-link
                  to="/register"
                  class="text-white"
                >ลงทะเบียน</router-link>
              </div>
              <!-- End Register Text -->
            </div>
          </div>
          <!-- ******************* NOTE END MOBILE LOGIN UI******************* -->

          <!-- ******************* NOTE DESKTOP LOGIN UI ******************* -->
          <div class="desktop-only q-pa-md login-radius col-lg-6 col-md-8">
            <div class="row justify-center">
              <!-- NOTE LEFT LOGO COLUMN -->
              <div
                align="center"
                class="col-sm-5 col-xs-12 bg-blue-grey-10 login-radius q-pa-md relative-position"
                :class="{'left-position right-shadow':width > 599}"
                v-show="width > 599"
              >
                <div class="q-pa-md">
                  <div class="q-pa-md">
                    <q-img
                      src="statics/logo.png"
                      style="width:180px;"
                    ></q-img>
                  </div>
                  <br />
                  <div style="height:5px"></div>

                  <div class="q-pt-lg">
                    <q-img
                      src="statics/logo.png"
                      style="width:50px;"
                    ></q-img>
                    <span
                      class="text-white"
                      style="letter-spacing:1.5px"
                    >&nbsp;Winner@Work</span>
                  </div>
                </div>
                <!-- NOTE END LEFT LOGO COLUMN -->
              </div>
              <!-- NOTE RIGHT COLUMN -->
              <div
                class="col-sm-5 col-xs-12 q-pa-md login-radius bg-grey-2 relative-position"
                :class="{'right-position':width > 599}"
              >
                <div class="row justify-center">
                  <div
                    class="col-8"
                    align="center"
                  >
                    <q-icon
                      name="fas fa-user-circle"
                      size="60px"
                    ></q-icon>
                  </div>
                  <div class="col-7 q-pt-md">
                    <q-input
                      v-model.trim="username"
                      label="เบอร์โทรศัพท์"
                    ></q-input>
                  </div>
                  <div class="col-7">
                    <q-input
                      v-model.trim="password"
                      label="รหัสผ่าน"
                      :type="isPwd ? 'password' : 'text'"
                      :rules="[ val => val && val.length > 0]"
                      @keyup.enter="login()"
                    >
                      <template v-slot:append>
                        <q-icon
                          :name="isPwd ? 'visibility_off' : 'visibility'"
                          class="cursor-pointer q-pr-md"
                          @click="isPwd = !isPwd"
                        />
                      </template>
                    </q-input>
                  </div>
                  <div
                    class="col-7 q-pt-md"
                    align="center"
                  >
                    <q-btn
                      label="เข้าสู่ระบบ"
                      @click="login()"
                      style="width:80%"
                      color="secondary"
                    ></q-btn>
                  </div>
                </div>
                <div class="row q-pt-md">
                  <div
                    class="col-6 q-px-lg"
                    align="center"
                  >
                    <router-link
                      class="text-blue-grey-10"
                      to="/forgotpassword"
                    >ลืมรหัสผ่าน</router-link>
                  </div>
                  <div
                    class="col-6 q-px-lg"
                    align="center"
                  >
                    <router-link
                      class="text-blue-grey-10"
                      to="/register"
                    >ลงทะเบียน</router-link>
                  </div>
                </div>
              </div>
              <!-- NOTE END RIGHT COLUMN -->
            </div>
          </div>
          <!-- ******************* NOTE END DESKTOP LOGIN UI ******************* -->
        </div>
      </div>
      <div
        align="right"
        class="desktop-only q-pa-md absolute-bottom-right"
      >Version {{ appVersion }}</div>
    </transition>
  </div>
</template>

<script>
import { db } from "../router/index.js";

export default {
  data() {
    return {
      username: "",
      password: "",
      isPwd: true,
      width: window.innerWidth
    };
  },
  methods: {
    openFullscreen() {
      var elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) {
        /* IE/Edge */
        elem.msRequestFullscreen();
      }
    },
    login() {
      this.$refs.username.validate();
      this.$refs.password.validate();
      this.$q.loading.show({ delay: 400 });
      if (!this.$refs.username.hasError && !this.$refs.password.hasError) {
        db.collection("CustomerAccounts")
          .where("tel", "==", this.username)
          .where("password", "==", this.password)
          .get()
          .then(doc => {
            this.$q.loading.hide();
            if (doc.size) {
              let customerData = {
                key: doc.docs[0].id
              };
              let dataFinal = { ...customerData, ...doc.docs[0].data() };

              this.$q.localStorage.set("customerData", dataFinal);
              this.$q.localStorage.set("pageName", "คำศัพท์");
              this.openFullscreen();
              this.$router.push("/vocabulary");
            } else {
              this.$q.dialog({
                title: "ล้มเหลว",
                message: "ไม่พบรหัสผู้ใช้งานนี้ในระบบ"
              });
            }
          });
      }
    },
    onResize(data) {
      this.width = data.width;
    }
  },
  mounted() {
    this.$q.localStorage.set("currentMenu", 1);
  }
};
</script>

<style>
.login-color {
  background-color: #354046;
}
.login-radius {
  border-radius: 10px;
}
.right-shadow {
  box-shadow: 5px 0px 5px #192125;
}
.right-position {
  right: 10px;
  z-index: 100;
  padding-left: 35px;
}
.left-position {
  left: 10px;
  z-index: 200;
}
</style>