<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <transition appear enter-active-class="animated fadeIn">
      <div class="window-height row items-center justify-center">
        <!-- **************************** NOTE MOBILE UI **************************** -->
        <div class="col-12 mobile-only q-py-xs-xl">
          <div align="center">
            <q-img src="statics/callcenter.png" style="width:250px;" />
          </div>
          <div class="row items-center justify-center">
            <div
              class="col-lg-3 col-md-6 col-xs-10 login-color q-pa-md login-radius"
              align="center"
            >
              <div class="row">
                <div class="col-12">
                  <div class="text-white" style="letter-spacing:1px">
                    กรุณาติดต่อผู้ประสานงาน
                    <br />หรือติดต่อเจ้าหน้าที่
                    <br />โทร 099-999-9999
                  </div>
                </div>
                <div class="col-12 q-pt-md">
                  <q-btn
                    class="full-width q-pa-sm"
                    label="กลับหน้าเข้าสู่ระบบ"
                    color="secondary"
                    to="/"
                  ></q-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- **************************** NOTE END MOBILE UI **************************** -->

        <!-- **************************** NOTE  DESKTOP UI **************************** -->
        <div class="desktop-only col-lg-6 col-md-8" align="center">
          <div align="center" class="q-pa-md">
            <div class="row justify-center">
              <div
                align="center"
                class="col-sm-5 col-xs-12 bg-blue-grey-10 login-radius q-pa-md relative-position"
                :class="{'left-position right-shadow':width > 599}"
                v-show="width > 599"
              >
                <div class="q-pa-md">
                  <div class="q-pa-md">
                    <q-img src="statics/logo.png" style="width:150px;"></q-img>
                  </div>
                  <br />
                  <div style="height:5px"></div>

                  <div class="q-pt-lg">
                    <q-img src="statics/logo.png" style="width:50px;"></q-img>
                    <span class="text-white" style="letter-spacing:1.5px">&nbsp;Winner@Work</span>
                  </div>
                </div>
              </div>
              <div
                class="col-sm-5 col-xs-12 q-py-sm login-radius bg-grey-2 relative-position"
                :class="{'right-position':width > 599}"
              >
                <div class="col-12 login-radius" align="center">
                  <div align="center" class="text-h6">ลงทะเบียน</div>
                  <div align="center" class="q-pt-sm">
                    <q-img src="statics/callcenter.png" style="width:150px;" />
                  </div>
                  <div class="row justify-center">
                    <div class="col-12">
                      <div class="text-blue-grey-10" style="letter-spacing:1px">
                        <br />กรุณาติดต่อผู้ประสานงาน
                        <br />หรือติดต่อเจ้าหน้าที่
                        <br />โทร 099-999-9999
                      </div>
                    </div>
                    <div class="col-10 q-py-md">
                      <q-btn
                        class="full-width q-pa-sm"
                        label="กลับหน้าเข้าสู่ระบบ"
                        color="secondary"
                        to="/"
                      ></q-btn>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- **************************** NOTE  END DESKTOP UI **************************** -->
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      width: window.innerWidth
    };
  },
  methods: {
    onResize(data) {
      this.width = data.width;
    }
  }
};
</script>

<style>
.login-color {
  background-color: #354046;
}
.login-radius {
  border-radius: 10px;
}
.vertical-center {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-shadow {
  box-shadow: 5px 0px 5px #192125;
}
.right-position {
  right: 10px;
  z-index: 100;
  padding-left: 35px;
}
.left-position {
  left: 10px;
  z-index: 200;
}
</style>