<template>
  <q-page>
    <app-menu class='mobile-only'></app-menu>
    <!-- ***************************NOTE DESKTOP MODE ***************************  -->
    <div
      class='text-h5 text-grey-2 bg-blue-grey-10 q-pa-md desktop-only'
      align="center"
    >
      ผู้ใช้งาน
    </div>
    <div class="q-pa-md desktop-only row text-grey-2 justify-center">
      <div class="col-10 row q-pa-md relative-position ">
        <!-- USER INFOMATION ZONE -->
        <div
          class="col-sm-6 col-xs-12 bg-blue-grey-10 round-contaner left-container-shadow q-pa-sm"
          style=""
        >

          <div
            class="q-pa-md"
            style='font-size:22px'
          >
            แก้ไขข้อมูลส่วนตัว
          </div>

          <!-- NAME-SURNAME -->
          <div class='q-px-md'>
            <q-input
              v-model="customerObj.name"
              label="ชื่อ - นามสกุล"
              class='bg-grey-2 q-px-sm round-contaner'
            ></q-input>
          </div>
          <!-- END NAME-SURNAME -->

          <!-- Tel -->
          <div class='q-px-md q-pt-md'>
            <q-input
              v-model="customerObj.tel"
              label="เบอร์โทรศัพท์"
              class='bg-grey-2 q-px-sm round-contaner'
            ></q-input>
          </div>
          <!-- END Tel -->

          <!-- Password -->
          <div class='q-px-md q-pt-md'>
            <q-input
              v-model="customerObj.password"
              label="รหัสผ่าน"
              class='bg-grey-2 q-px-sm round-contaner'
            ></q-input>
          </div>
          <!-- END Password -->

          <!-- E-mail -->
          <div class='q-px-md q-pt-md'>
            <q-input
              v-model="customerObj.email"
              label="E-mail"
              class='bg-grey-2 q-px-sm round-contaner'
            ></q-input>
          </div>
          <!-- END E-mail -->

          <!-- Sex -->
          <div class='q-px-md q-pt-md q-pb-md'>
            <q-select
              v-model="customerObj.sex"
              class='bg-grey-2 q-px-sm round-contaner'
              :options="sexOptions"
            ></q-select>
          </div>
          <!-- END Sex -->

          <!-- BUTTON -->
          <div class="row justify-center q-pb-md">
            <div
              class='col-5 row justify-around '
              align="center"
            >
              <div>
                <q-btn
                  label="ยกเลิก"
                  color="grey-2"
                  class='text-blue-grey-10'
                  style='width:120px'
                ></q-btn>
              </div>
              <div>
                <q-btn
                  @click="editCustomerData()"
                  label="บันทึก"
                  color="secondary"
                  style='width:120px'
                ></q-btn>
              </div>
            </div>
          </div>
          <!-- End BUTTON -->

        </div>
        <!-- END USER INFOMATION ZONE -->
        <div class="col-sm-6 col-xs-12 bg-grey-2 round-contaner right-container q-pa-sm text-blue-grey-10 q-pl-xl">
          <div
            class='q-pa-md'
            style='font-size:22px'
          >
            เนื้อหาบทเรียน
          </div>
          <div class="q-pa-md">
            <div class="row">
              <div
                class='col-12'
                v-for="(item,index) in positions"
                :key="index"
              >
                <q-toolbar>
                  <q-toolbar-title>
                    {{ item.name }}
                  </q-toolbar-title>
                  <q-space />
                  <q-toggle
                    @input="savePositionSetting()"
                    color="teal"
                    v-model="positionSelected"
                    :val="item.key"
                  />
                </q-toolbar>
                <q-separator></q-separator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NOTE  *************************** END DESKTOP MODE *************************** -->

    <!-- *************************** MOBILE MODE *************************** -->
    <div class=" mobile-only bg-blue-grey-10 text-grey-2">
      <div class='q-pa-md'>
        <div class='row'>
          <span style='font-size:20px'>
            {{ this.$q.localStorage.getItem("customerData").name }}
          </span>
          <q-space />
          <div>
            <q-btn
              to="/infosetting"
              flat=""
              icon="fas fa-chevron-right"
              color="grey-2"
            >
            </q-btn>
          </div>
        </div>
      </div>
      <div style='border-bottom:3px solid white'></div>
      <div
        style='font-size:20px'
        class='q-pt-lg q-px-md'
      >
        เนื้อหาบทเรียน
      </div>

      <div class="q-pa-sm ">
        <div class="row">
          <div
            class='col-12'
            v-for="(item,index) in positions"
            :key="index"
          >
            <q-toolbar>
              {{ item.name }}
              <q-space />
              <q-toggle
                @input="savePositionSetting()"
                color="teal"
                v-model="positionSelected"
                :val="item.key"
              />
            </q-toolbar>
            <q-separator color="grey-2"></q-separator>
          </div>
        </div>
      </div>

    </div>
    <!-- *************************** END MOBILE MODE ***************************  -->
  </q-page>
</template>

<script>
import appMenu from "../components/menu.vue";
import { db } from "../router";
export default {
  components: {
    appMenu
  },
  data() {
    return {
      customerObj: {
        name: "",
        tel: "",
        password: "",
        email: "",
        sex: "ชาย"
      },
      positions: [],
      sexOptions: ["ชาย", "หญิง"],
      positionSelected: []
    };
  },
  methods: {
    loadPosition() {
      let customerData = this.$q.localStorage.getItem("customerData");
      this.$q.loading.show({ delay: 400 });
      db.collection("CustomerAccounts")
        .doc(customerData.key)
        .collection("Settings")
        .doc("PositionSetting")
        .get()
        .then(doc => {
          if (doc.exists) {
            db.collection("Position")
              .where("status", "==", true)
              .get()
              .then(positionDoc => {
                positionDoc.forEach(element => {
                  let data = {
                    key: element.id
                  };
                  let dataFinal = { ...data, ...element.data() };
                  this.positions.push(dataFinal);
                  this.positionSelected = doc.data().position;
                });
                this.$q.loading.hide();
              });
          } else {
            db.collection("Position")
              .get()
              .then(doc => {
                doc.forEach(element => {
                  let data = {
                    key: element.id
                  };
                  let dataFinal = { ...data, ...element.data() };
                  this.positions.push(dataFinal);
                });
                this.$q.loading.hide();
              });
          }
        });
    },
    loadCustomerData() {
      let customerData = this.$q.localStorage.getItem("customerData");
      this.customerObj.name = customerData.name;
      this.customerObj.tel = customerData.tel;
      this.customerObj.password = customerData.password;
      this.customerObj.email = customerData.email;
      this.customerObj.sex = customerData.sex;
    },
    editCustomerData() {
      let customerData = this.$q.localStorage.getItem("customerData");
      this.$q.loading.show({ delay: 400 });
      db.collection("CustomerAccounts")
        .doc(customerData.key)
        .update(this.customerObj)
        .then(res => {
          db.collection("CustomerAccounts")
            .doc(customerData.key)
            .get()
            .then(doc => {
              let data = {
                key: doc.id
              };
              let dataFinal = { ...data, ...doc.data() };
              this.$q.localStorage.set("customerData", dataFinal);
              // db.collection("CustomerAccounts")
              //   .doc(customerData.key)
              //   .collection("Settings")
              //   .doc("PositionSetting")
              //   .set({
              //     position: this.positionSelected
              //   })
              // .then(res2 => {
              this.loadCustomerData();
              this.$q.notify({
                message: "บันทึกข้อมูลสำเร็จ",
                color: "secondary"
              });
              this.$q.loading.hide();
              // });
            });
        });
    },
    saveSettings() {
      let customerData = this.$q.localStorage.getItem("customerData");
      db.collection("CustomerAccounts")
        .doc(customerData.key)
        .collection("Settings")
        .doc("PositionSetting")
        .set({
          position: this.positionSelected
        });
    },
    // MOBILE METHODS
    savePositionSetting() {
      this.$q.loading.show({ delay: 400 });
      let customerData = this.$q.localStorage.getItem("customerData");
      db.collection("CustomerAccounts")
        .doc(customerData.key)
        .collection("Settings")
        .doc("PositionSetting")
        .set({
          position: this.positionSelected
        })
        .then(response => {
          this.$q.loading.hide();
        });
    }
  },
  mounted() {
    this.loadCustomerData();
    this.loadPosition();
  }
};
</script>

<style>
.round-contaner {
  border-radius: 5px;
}
.left-container-shadow {
  box-shadow: 5px 0px 5px #192125;
  position: relative;
  left: 15px;
  z-index: 200;
}
.right-container {
  position: relative;
  right: 10px;
  z-index: 100;
}
</style>