<template>
  <div
    style="padding-bottom:100px;position:relative;z-index:100"
    v-if="finishLoad"
  >
    <!-- SECTION TITLE BAR -->
    <div
      class="bg-blue-grey-10 text-grey-2 q-pa-md text-h6 desktop-only "
      align="center"
    >คำศัพท์</div>
    <!-- SECTION END TITLE BAR -->

    <!-- SECTION UNDER WATER PIC -->
    <div class="bg-vocab mobile-only q-pa-md">
      <div style="position:relative ">
        <q-img
          class="border-gradient"
          style="height:25vh"
          src="../statics/Deepsea bg.jpg"
        />
        <div
          class='absolute-bottom bg-blue-grey-10 q-pa-sm text-grey-2 '
          style="bottom:0px"
          align="center"
        >
          <span
            v-if="showAnswerText != ''"
            :class="{'text-red' : showAnswerText =='ไม่ถูกต้อง','text-secondary':showAnswerText =='ถูกต้อง'}"
          >
            {{ showAnswerText }}
          </span>
          <span v-else>
            {{ deep }} M
          </span>
        </div>

        <div
          class='absolute-bottom q-pa-sm text-grey-2 text-h6'
          style="bottom:0px;left:10px"
        >
          <q-img
            style="width:7vh"
            src="../statics/Deepsea 3.png"
          ></q-img>
        </div>
      </div>
      <!-- SECTION  END UNDER WATER PIC -->

      <!-- QUESTION -->
      <div class="mobile-only q-pa-md q-mt-sm bg-gradient">
        <!-- SECTION Question BUTTON -->
        <!-- ********************************* normal moode********************************** -->
        <div v-if="vocabForDemo[currentQuestion].questionType == 1">
          <q-btn
            flat
            icon="fas fa-volume-up"
            class="q-pa-md bg-question full-width text-grey-2 text-h6"
            style="height:80px"
            @click="playSound(vocabForDemo[currentQuestion].url)"
          ></q-btn>
        </div>

        <div
          v-else
          align="center"
        >
          <q-btn
            v-show="!isShowDescription"
            no-caps
            flat
            :label="vocabForDemo[currentQuestion].question"
            class="q-pa-md bg-question full-width text-grey-2 text-h6"
            style="height:80px"
          ></q-btn>
        </div>

        <!-- SECTION END Question BUTTON -->

        <!-- SECTION  CHOICE BUTTON -->
        <div
          v-for="(item,index) in vocabForDemo[currentQuestion].choice"
          :key="index"
          v-show="!isShowDescription"
        >
          <div class="row">
            <div
              class="col-12 q-pa-sm "
              style="height:60px;max-width:350px;width:100%;margin:auto"
            >
              <div class="relative-position ">

                <q-btn
                  no-caps
                  :disable="isDisableButton"
                  flat
                  class="text-black bg-answer-button "
                  style="width:100%;height:60px;position:absolute;z-index:100"
                  @click="sendAnswer(index)"
                >
                  <span style="position:relative;top:3px">{{ item.choice }}</span>
                </q-btn>

              </div>
            </div>
          </div>
        </div>
        <!-- SECTION  END CHOICE BUTTON -->

        <!-- SECTION Description -->

        <div v-show="isShowDescription">
          <!-- QUESTION SOUND DESCRIPTION -->
          <!-- 111111111111111111111111111 MOBILE 111111111111111111111111111 -->
          <div
            class='row q-pa-md q-mt-md'
            v-if="vocabForDemo[currentQuestion].questionType == 1"
          >

            <div
              class='col-12'
              align="center"
            >
              <!-- <q-img
                src="../statics/bg_vocab.png"
                style="width:200px"
                alt=""
              > -->
              <div
                class="bg-gradient  q-pa-md"
                style="border-radius:15px"
              >
                <div class="text-blue-grey-10">
                  {{vocabForDemo[currentQuestion].vocab}}
                  <br />
                  {{ vocabForDemo[currentQuestion].meaning }}
                </div>
              </div>
              <!-- </q-img> -->
            </div>

            <div class="col-12 q-mt-md">
              <div
                class='q-pa-sm'
                align="center"
              >
                <q-btn
                  style="width:200px"
                  class='q-pa-sm relative-position bg-gradient shadow-5'
                  @click="nextQuestion()"
                >

                  <!-- <q-img
                    style="width:190px;"
                    src="../statics/Button2.png"
                  > -->
                  <span
                    style="top:-5px;"
                    class=""
                  >ข้อต่อไป</span>
                  <!-- </q-img> -->

                </q-btn>
              </div>
            </div>
          </div>
          <!-- END anc QUESTION SOUND DESCRIPTION -->

          <!-- QUESTION TH DESCRIPTION -->
          <!-- 2222222222222222222222222 MOBILE 2222222222222222222222222 -->
          <div
            class='row bg-gradient  q-mt-sm relative-position border-gradient-1 q-pa-md'
            style="border-radius:10px "
            v-if="vocabForDemo[currentQuestion].questionType == 2"
          >
            <div
              class="col-12 row  q-pa-sm bg-gradient"
              style="border-radius:15px"
            >
              <div
                class="col-12 row justify-center q-pb-sm"
                v-for="(item,index) in vocabForDemo[currentQuestion].choice"
                :key="index"
              >
                <div
                  align="center"
                  class='col-12 '
                >
                  {{ item.choice }}
                </div>
                <div
                  align="center"
                  class="col-12 "
                >
                  {{ item.meaning }}
                </div>
              </div>
            </div>
            <div
              class="col-12 "
              align="center"
            >
              <div class='q-pa-sm'>
                <q-btn
                  flat=""
                  dense=""
                  style="width:200px"
                  class='q-pa-sm relative-position bg-gradient shadow-5'
                  @click="nextQuestion()"
                >

                  <span
                    style="top:-5px;"
                    class="text-body1 "
                  >ข้อต่อไป</span>

                </q-btn>
              </div>
            </div>

          </div>

          <!-- END QUESTION TH DESCRIPTION -->

          <!-- QUESTION EN DESCRIPTION -->
          <!-- 33333333333333333333333 MOBILE 33333333333333333333333 -->

          <div
            class='row bg-gradient  q-mt-sm relative-position border-gradient-1'
            style="border-radius:10px "
            v-if="vocabForDemo[currentQuestion].questionType == 3"
          >
            <div
              class="col-12 row justify-center q-pb-sm "
              v-for="(item,index) in vocabForDemo[currentQuestion].choice"
              :key="index"
            >

              <div
                align="center"
                class='col-12 q-pa-sm'
              >
                {{ item.vocab }}
              </div>
              <div
                align="center"
                class="col-12 "
              >
                {{ item.choice }}
              </div>
            </div>

            <div
              class="col-12 q-pa-sm "
              align="center"
            >
              <div class='q-pa-sm'>

                <q-btn
                  flat=""
                  dense=""
                  style="width:200px"
                  class='q-pa-sm relative-position bg-gradient shadow-5 '
                  @click="nextQuestion()"
                >

                  <span
                    style="top:-5px;"
                    class="text-body1"
                  >ข้อต่อไป</span>

                </q-btn>
              </div>
            </div>
          </div>

          <!-- END QUESTION EN DESCRIPTION -->

        </div>

        <!-- SECTION END Description -->

        <!-- ********************************* normal moode********************************** -->

      </div>

      <!-- SECTION  END QUESTION -->
    </div>
    <!-- END MOBILE UI -->

    <!-- DESKTOP UI -->
    <div class='desktop-only '>
      <div class="row items-start  justify-around q-pa-md ">
        <!-- GAME -->
        <div class="col-md-6 col-xs-12  ">
          <div style="position:relative  ">
            <q-img
              class="border-gradient  "
              style="height:70vh"
              src="../statics/Deepsea bg.jpg"
            />
            <div
              class='absolute-bottom  bg-blue-grey-10 q-pa-sm text-grey-2 text-h6'
              style="bottom:15px"
              align="center"
            >
              <span
                v-if="showAnswerText != ''"
                :class="{'text-red' : showAnswerText =='ไม่ถูกต้อง','text-secondary':showAnswerText =='ถูกต้อง'}"
                class='animated flash '
              >
                {{ showAnswerText }}
              </span>
              <span v-else>
                {{ deep }} M
              </span>
            </div>

            <div
              class='absolute-bottom q-pa-sm text-grey-2 text-h6'
              style="bottom:15px;left:10px"
            >
              <q-img
                style="width:200px"
                src="../statics/Deepsea 3.png"
              ></q-img>
            </div>

          </div>
        </div>
        <!-- END GAME -->

        <div class="col-md-5  border-gradient col-xs-12 q-pa-md bg-gradient ">
          <div v-if="vocabForDemo[currentQuestion].questionType == 1">
            <q-btn
              flat
              icon="fas fa-volume-up"
              class="q-pa-md  bg-question full-width text-grey-2 text-h6"
              style="height:80px"
              @click="playSound(vocabForDemo[currentQuestion].url)"
            ></q-btn>
          </div>

          <div
            v-else
            align="center"
          >
            <q-btn
              v-show="!isShowDescription"
              no-caps
              flat
              :label="vocabForDemo[currentQuestion].question"
              class="q-pa-md bg-question full-width text-grey-2 text-h6 "
              style="height:80px"
            ></q-btn>
          </div>
          <!-- CHOICE -->
          <div
            v-for="(item,index) in vocabForDemo[currentQuestion].choice"
            :key="index"
            v-show="!isShowDescription"
          >
            <div class="row">
              <div
                class="col-12 q-pa-sm"
                style="height:60px;max-width:350px;margin:auto"
              >
                <div class="relative-position">
                  <q-img
                    style="position:absolute;width:30px;right:20px;top:13px;z-index:200"
                    src="../statics/left.png"
                  />
                  <q-btn
                    no-caps
                    :disable="isDisableButton"
                    flat
                    class="text-black bg-answer-button"
                    style="width:100%;height:60px;position:absolute;z-index:100"
                    @click="sendAnswer(index)"
                  >
                    <span style="position:relative;top:5px">{{ item.choice }}</span>
                  </q-btn>
                  <q-img
                    style="position:absolute;width:30px;left:20px;top:13px;z-index:200"
                    src="../statics/right.png"
                  />
                </div>
              </div>
            </div>
          </div>

          <div
            v-show="isShowDescription"
            class='q-pa-md'
          >
            <!-- 111111111111111111111111111111111111111 DESKTOP 111111111111111111111111111111111111111 -->
            <!-- QUESTION SOUND DESCRIPTION -->
            <div
              class='row q-pa-md  q-mt-md border-gradient-1'
              v-if="vocabForDemo[currentQuestion].questionType == 1"
            >
              <div class="col-12 row q-pa-md  ">
                <div
                  class='col-12'
                  align="center"
                >
                  <!-- <q-img
                    src="../statics/bg_vocab.png"
                    style="width:300px"
                    alt=""
                  > -->
                  <div
                    class="bg-gradient q-pa-md"
                    style="border-radius:15px"
                  >
                    <div class="text-blue-grey-10">
                      {{vocabForDemo[currentQuestion].vocab}}
                      <br />
                      {{ vocabForDemo[currentQuestion].meaning }}
                    </div>
                  </div>
                  <!-- </q-img> -->
                </div>
              </div>
              <div class="col-12 q-mt-md">
                <div
                  class='q-pa-sm  '
                  align="center"
                >

                  <q-btn
                    flat=""
                    dense=""
                    style="width:fit-content"
                    class='q-pa-sm relative-position'
                    @click="nextQuestion()"
                  >
                    <q-img
                      style="position:absolute;width:30px;right:20px;top:15px;z-index:200"
                      src="../statics/left.png"
                    />

                    <q-img
                      style="width:400px;"
                      src="../statics/Button2.png"
                    >
                      <span
                        style="top:-5px;"
                        class="absolute-full bg-transparent flex flex-center text-body1"
                      >ข้อต่อไป</span>
                    </q-img>

                    <q-img
                      style="position:absolute;width:30px;left:20px;top:15px;z-index:200"
                      src="../statics/right.png"
                    />

                  </q-btn>

                </div>
              </div>
            </div>
            <!-- END QUESTION SOUND DESCRIPTION -->

            <!-- QUESTION TH DESCRIPTION -->
            <!-- 2222222222222222222222222222222 DESKTOP 222222222222222222222222222222222 -->
            <div
              class='row q-mt-sm relative-position   '
              style="border-radius:10px; "
              v-if="vocabForDemo[currentQuestion].questionType == 2"
            >
              <div
                class="col-12 row bg-gradient q-pa-md shadow-5"
                style="border-radius:15px"
              >
                <div
                  class="col-12 row justify-center q-pb-md "
                  v-for="(item,index) in vocabForDemo[currentQuestion].choice"
                  :key="index"
                >
                  <div
                    align="center"
                    class='col-12 '
                  >
                    {{ item.choice }}
                  </div>
                  <div
                    align="center"
                    class="col-12 "
                  >
                    {{ item.meaning }}
                  </div>
                </div>
              </div>

              <div
                class="col-12 "
                align="center"
              >
                <div class='q-pa-sm'>
                  <q-btn
                    flat=""
                    dense=""
                    style="width:fit-content"
                    class='q-pa-sm relative-position'
                    @click="nextQuestion()"
                  >
                    <q-img
                      style="position:absolute;width:30px;right:20px;top:15px;z-index:200"
                      src="../statics/left.png"
                    />

                    <q-img
                      style="width:400px;"
                      src="../statics/Button2.png"
                    >
                      <span
                        style="top:-5px;"
                        class="absolute-full bg-transparent flex flex-center text-body1"
                      >ข้อต่อไป</span>
                    </q-img>

                    <q-img
                      style="position:absolute;width:30px;left:20px;top:15px;z-index:200"
                      src="../statics/right.png"
                    />

                  </q-btn>
                </div>
              </div>
            </div>

            <!-- END QUESTION TH DESCRIPTION -->

            <!-- QUESTION EN DESCRIPTION -->
            <!-- 33333333333333333333333333333333333333333333 DESKTOP 33333333333333333333333333333333333333333333 -->
            <div
              class='row q-mt-sm relative-position '
              style="border-radius:10px "
              v-if="vocabForDemo[currentQuestion].questionType == 3"
            >
              <div
                class="row col-12 bg-gradient q-pa-md shadow-5"
                style="border-radius:15px"
              >
                <div
                  class="col-12 row justify-center  q-pb-md "
                  v-for="(item,index) in vocabForDemo[currentQuestion].choice"
                  :key="index"
                >

                  <div
                    align="center"
                    class='col-12 '
                  >
                    {{ item.vocab }}
                  </div>
                  <div
                    align="center"
                    class="col-12 "
                  >
                    {{ item.choice }}
                  </div>
                </div>
              </div>
              <div
                class="col-12 "
                align="center"
              >
                <div class='q-pa-sm'>
                  <q-btn
                    flat=""
                    dense=""
                    style="width:fit-content"
                    class='q-pa-sm relative-position'
                    @click="nextQuestion()"
                  >
                    <q-img
                      style="position:absolute;width:30px;right:20px;top:15px;z-index:200"
                      src="../statics/left.png"
                    />

                    <q-img
                      style="width:400px;"
                      src="../statics/Button2.png"
                    >
                      <span
                        style="top:-5px;"
                        class="absolute-full bg-transparent flex flex-center text-body1"
                      >ข้อต่อไป</span>
                    </q-img>

                    <q-img
                      style="position:absolute;width:30px;left:20px;top:15px;z-index:200"
                      src="../statics/right.png"
                    />

                  </q-btn>
                </div>
              </div>
            </div>
            <!-- END QUESTION EN DESCRIPTION -->
          </div>
          <!-- END CHOICE -->
        </div>
      </div>
    </div>

    <!-- END DESKTOP UI -->

    <app-menu></app-menu>
  </div>
</template>

<script>
import { db } from "../router";
import appMenu from "../components/menu.vue";
export default {
  components: {
    appMenu
  },
  data() {
    return {
      vocabData: "",
      countAnswer: 0,
      isReviewMode: false,
      vocabReview: [],
      currentReviewQuestion: 0,
      vocabForDemo: [],
      currentQuestion: 0,
      isDisableButton: false,
      isShowDescription: false,
      showAnswerText: "",
      deep: 250,
      finishLoad: false
    };
  },
  methods: {
    nextQuestion() {
      this.currentQuestion += 1;
      this.isShowDescription = false;
      this.isDisableButton = false;
      this.showAnswerText = "";
    },
    async sendAnswer(index) {
      this.isDisableButton = true;
      this.isShowDescription = true;
      if (
        this.vocabForDemo[this.currentQuestion].key ==
        this.vocabForDemo[this.currentQuestion].choice[index].key
      ) {
        this.showAnswerText = "ถูกต้อง";
        let audio = new Audio("../statics/correct.mp3");
        audio.volume = 0.1;
        audio.play();

        let learnedVocabData = await db
          .collection("CustomerAccounts")
          .doc(this.$q.localStorage.getItem("customerData").key)
          .collection("LearnedVocab")
          .doc(this.vocabForDemo[this.currentQuestion].key)
          .get();

        this.deep += 10;

        if (learnedVocabData.exists) {
          db.collection("CustomerAccounts")
            .doc(this.$q.localStorage.getItem("customerData").key)
            .collection("LearnedVocab")
            .doc(this.vocabForDemo[this.currentQuestion].key)
            .update({
              correct: learnedVocabData.data().correct + 1,
              ratio:
                (learnedVocabData.data().correct + 1) /
                learnedVocabData.data().incorrect
            })
            .then(() => {
              this.isDisableButton = false;
            });
        } else {
          db.collection("CustomerAccounts")
            .doc(this.$q.localStorage.getItem("customerData").key)
            .collection("LearnedVocab")
            .doc(this.vocabForDemo[this.currentQuestion].key)
            .set({
              correct: 1,
              incorrect: 0,
              ratio: 1
            })
            .then(() => {
              this.isDisableButton = false;
            });
        }
      } else {
        console.log("ตอบผิด");
        let audio = new Audio("../statics/wrong.mp3");
        audio.volume = 0.1;
        audio.play();

        this.showAnswerText = "ไม่ถูกต้อง";
        let learnedVocabData = await db
          .collection("CustomerAccounts")
          .doc(this.$q.localStorage.getItem("customerData").key)
          .collection("LearnedVocab")
          .doc(this.vocabForDemo[this.currentQuestion].key)
          .get();
        if (learnedVocabData.exists) {
          db.collection("CustomerAccounts")
            .doc(this.$q.localStorage.getItem("customerData").key)
            .collection("LearnedVocab")
            .doc(this.vocabForDemo[this.currentQuestion].key)
            .update({
              incorrect: learnedVocabData.data().incorrect + 1,
              ratio:
                learnedVocabData.data().correct /
                (learnedVocabData.data().incorrect + 1)
            })
            .then(() => {
              this.isDisableButton = false;
            });
        } else {
          db.collection("CustomerAccounts")
            .doc(this.$q.localStorage.getItem("customerData").key)
            .collection("LearnedVocab")
            .doc(this.vocabForDemo[this.currentQuestion].key)
            .set({
              correct: 0,
              incorrect: 1,
              ratio: 0
            })

            .then(() => {
              this.isDisableButton = false;
            });
        }
      }
    },
    playSound(url) {
      let audio = new Audio(url);
      audio.play();
    },

    shuffle(a) {
      var j, x, i;
      for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
      }
      return a;
    },
    // cloneVocab() {
    //   db.collection("Vocabulary")
    //     .doc("server")
    //     .collection("data")
    //     .get()
    //     .then(data => {
    //       data.forEach(element => {
    //         db.collection("VocabularyClone")
    //           .doc("server")
    //           .collection("data")
    //           .doc(element.id)
    //           .set(element.data());
    //       });
    //     });
    // }
    getVocabTempForDemo() {
      this.$q.loading.show({ delay: 400 });
      db.collection("VocabularyClone")
        .doc("server")
        .collection("data")
        .get()
        .then(doc => {
          doc.forEach(element => {
            db.collection("Vocabulary")
              .doc("server")
              .collection("data")
              .get()
              .then(doc => {
                let randomQuestionType = Math.floor(Math.random() * 3) + 1;
                // -------------------------------------- REPLACE RANDOM TYPE --------------------------------------
                let choiceTemp = [];
                doc.forEach(temp => {
                  let data = {
                    key: temp.id
                  };
                  let dataFinal = { ...data, ...temp.data() };
                  choiceTemp.push(dataFinal);
                });
                this.shuffle(choiceTemp);
                // console.log(choiceTemp);
                let choiceAdd = [];
                let choice;

                // let choiceTempClone = choiceTemp.slice();
                // console.log(choiceTempClone);
                for (let i = 0; i < 4; i++) {
                  if (i == 0) {
                    // คำตอบที่ถูก
                    if (randomQuestionType == 2) {
                      // CHOICES EN

                      choice = {
                        choice: element.data().vocab,
                        key: element.id,
                        meaning: element.data().meaning
                      };
                      let indexOf = choiceTemp.findIndex(
                        x => x.key == element.id
                      );
                      // console.log("Correct", indexOf);

                      choiceTemp.splice(indexOf, 1);
                      choiceAdd.push(choice);
                      // console.log(choiceTemp);
                    } else {
                      // CHOICES TH
                      choice = {
                        choice: element.data().meaning,
                        key: element.id,
                        vocab: element.data().vocab
                      };
                      let indexOf = choiceTemp.findIndex(
                        x => x.key == element.id
                      );
                      choiceTemp.splice(indexOf, 1);
                      choiceAdd.push(choice);
                    }
                  } else {
                    // คำตอบที่ Random
                    if (randomQuestionType == 2) {
                      // CHOICES EN
                      choice = {
                        choice: choiceTemp[i].vocab,
                        key: choiceTemp[i].key,
                        meaning: choiceTemp[i].meaning
                      };
                      let indexOf = choiceTemp.findIndex(
                        x => x.key == choiceTemp[i].key
                      );
                      choiceTemp.splice(indexOf, 1);
                      choiceAdd.push(choice);
                    } else {
                      // CHOICES TH
                      choice = {
                        choice: choiceTemp[i].meaning,
                        key: choiceTemp[i].key,
                        vocab: choiceTemp[i].vocab
                      };
                      let indexOf = choiceTemp.findIndex(
                        x => x.key == choiceTemp[i].key
                      );
                      choiceTemp.splice(indexOf, 1);
                      choiceAdd.push(choice);
                    }
                  }
                }
                // QUESTION GENARATOR
                let questionShow;
                if (randomQuestionType == 2) {
                  questionShow = element.data().meaning;
                } else if (randomQuestionType == 3) {
                  questionShow = element.data().vocab;
                } else {
                  questionShow = element.data().vocab;
                }

                // SHUFFLE CHOICE
                this.shuffle(choiceAdd);
                let dataVocab = {
                  key: element.id,
                  questionType: randomQuestionType,
                  question: questionShow,
                  choice: choiceAdd
                };
                let dataVocabFinal = {
                  ...dataVocab,
                  ...element.data()
                };
                this.vocabForDemo.push(dataVocabFinal);
                this.finishLoad = true;
                this.$q.loading.hide();
              });
          });
        });
    },
    checkVersion() {
      this.$q.loading.show({ delay: 400 });
      db.collection("Version")
        .doc("frontend")
        .get()
        .then(version => {
          this.$q.loading.hide();
          if (this.appVersion != version.data().appVersion) {
            window.location.reload(true);
          } else {
            this.getVocabTempForDemo();
          }
        });
    }
  },
  mounted() {
    this.checkVersion();
  }
};
</script>

<style>
.bg-vocab {
  background-image: url("../statics/Background Mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 93vh;
}
.border-gradient {
  border: 13px solid transparent;
  border-image: linear-gradient(
    to right,
    #979797,
    white,
    #979797,
    #979797,
    white,
    #979797
  );

  border-image-slice: 1;
}
.border-gradient-1 {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, grey, white, grey, grey, white, grey);

  border-image-slice: 1;
}
.bg-gradient {
  background: radial-gradient(white, grey);
}
.bg-question {
  background-image: url("../statics/Head Question.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-answer-button {
  background-image: url("../statics/Button.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>