<template>
  <div
    class="fixed-bottom row justify-around q-pa-md bg-black mobile-only"
    style="z-index:1000"
  >
    <q-btn
      class="col-2 text-white"
      align="center"
      flat
      @click="setMenu(1)"
    >
      <div v-if="currentMenu == 1">
        <q-img
          style="width:24px"
          src="statics/vocab2.png"
        />
        <br>
        <span class="text-secondary">ศัพท์</span>
      </div>
      <div v-else>
        <q-img
          style="width:24px"
          src="statics/vocab1.png"
        />
      </div>
    </q-btn>
    <q-btn
      class="col-2 text-white"
      align="center"
      flat
      @click="setMenu(2)"
    >
      <div v-if="currentMenu == 2">
        <q-img
          style="width:24px"
          src="statics/dialog2.png"
        /><br>
        <span class="text-secondary">ประโยค</span>
      </div>
      <div v-else>
        <q-img
          style="width:24px"
          src="statics/dialog1.png"
        />
      </div>
    </q-btn>
    <q-btn
      class="col-2 text-white"
      align="center"
      flat
      @click="setMenu(3)"
    >
      <div v-if="currentMenu == 3">
        <q-img
          style="width:24px"
          src="statics/expression2.png"
        /><br>
        <span class="text-secondary">สนทนา</span>
      </div>
      <div v-else>
        <q-img
          style="width:24px"
          src="statics/expression2_1.png"
        />
      </div>
    </q-btn>
    <!-- <q-btn
      class="col-2 text-white"
      align="center"
      flat
      @click="setMenu(4)"
    >
      <div v-if="currentMenu == 4">
        <q-img
          style="width:24px"
          src="statics/writing2.png"
        /><br>
        <span class="text-secondary">เขียน</span>
      </div>
      <div v-else>
        <q-img
          style="width:24px"
          src="statics/writing1.png"
        />
      </div>
    </q-btn> -->
    <q-btn
      class="col-2 text-white"
      align="center"
      flat
      @click="setMenu(5)"
    >
      <div v-if="currentMenu == 5">
        <q-img
          style="width:24px"
          src="statics/user2.png"
        />
        <br>
        <span class="text-secondary">ผู้ใช้</span>
      </div>
      <div v-else>
        <q-img
          style="width:24px"
          src="statics/user1.png"
        />
      </div>
    </q-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentMenu: this.$q.localStorage.getItem("currentMenu")
        ? this.$q.localStorage.getItem("currentMenu")
        : ""
    };
  },
  methods: {
    setMenu(menu) {
      this.$q.localStorage.set("currentMenu", menu);
      if (menu == 1) {
        // NOTE wating page
        this.$router.push("/vocabulary");
        this.$q.localStorage.set("pageName", "คำศัพท์");
        this.currentMenu = menu;
      } else if (menu == 2) {
        // NOTE wating page
        this.$router.push("/expressionlist");
        this.$q.localStorage.set("pageName", "ประโยค");
        this.currentMenu = menu;
      } else if (menu == 3) {
        // NOTE wating page
        this.$router.push("/dialoglist");
        this.$q.localStorage.set("pageName", "สนทนา");
        this.currentMenu = menu;
      } else if (menu == 4) {
        // NOTE wating page
        // this.$router.push("")
        // this.$q.localStorage.set("pageName", "การเขียน");
        this.$q.notify({
          message: "Coming Soon...",
          color: "primary",
          position: "top"
        });
      } else if (menu == 5) {
        this.$q.localStorage.set("pageName", "ผู้ใช้งาน");
        this.currentMenu = menu;
        this.$router.push("/usersetting");
      }
    }
  }
};
</script>

<style>
</style>