<template>
  <div>
    <q-select
      @input="loadSituation()"
      emit-value
      map-options
      style="border-radius:5px"
      :options="positionOptions"
      v-model="positionSelected"
      class="q-px-sm bg-grey-2 desktop-only"
    ></q-select>

    <q-select
      @input="loadSituation()"
      label="ตำแหน่ง"
      emit-value
      map-options
      style="border-radius:5px"
      :options="positionOptions"
      v-model="positionSelected"
      class="q-px-sm bg-grey-2 mobile-only"
    ></q-select>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      positionOptions: [],
      positionSelected: "",
      customerKey: this.$q.localStorage.getItem("customerData").key
    };
  },
  methods: {
    async loadPosition() {
      this.$q.loading.show({ delay: 400 });
      let customerSettingDb = await db
        .collection("CustomerAccounts")
        .doc(this.customerKey)
        .collection("Settings")
        .doc("PositionSetting")
        .get();
      if (customerSettingDb.exists) {
        for (let i = 0; i < customerSettingDb.data().position.length; i++) {
          let positionDb = await db
            .collection("Position")
            .doc(customerSettingDb.data().position[i])
            .get();

          let option = {
            label: positionDb.data().name,
            value: positionDb.id
          };
          this.positionOptions.push(option);
          this.positionSelected = this.positionOptions[0].value;
          this.$q.loading.hide();
        }
      } else {
        db.collection("Position")
          .orderBy("orderid")
          .get()
          .then(doc => {
            doc.forEach(element => {
              let option = {
                label: element.data().name,
                value: element.id
              };
              this.positionOptions.push(option);
            });
            this.positionSelected = this.positionOptions[0].value;
            this.$q.localStorage.set("positionKey", this.positionSelected);
            this.loadSituation();
            this.$q.loading.hide();
          });
      }
    }
  },
  mounted() {
    this.loadPosition();
  }
};
</script>

<style lang="scss" scoped>
</style>