<template>
  <q-layout view="lHh Lpr lFf">
    <q-header
      elevated
      class="bg-secondary"
    >
      <q-toolbar>
        <q-btn
          class="desktop-only"
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>
        <!-- DESKTOP TITLE -->
        <q-toolbar-title class="desktop-only">{{ this.$q.localStorage.getItem("pageName") }}</q-toolbar-title>
        <!-- END DESKTOP TITLE -->
        <!-- MOBILE TITLE -->
        <q-toolbar-title
          class="mobile-only row justify-center relative-position"
          align="center"
        >
          {{ this.$q.localStorage.getItem("pageName") }}
          <div class="absolute-right q-pr-sm">
            <q-btn
              @click="logout()"
              flat
            >
              <q-icon name="fas fa-sign-out-alt"></q-icon>
            </q-btn>
          </div>
        </q-toolbar-title>
        <!-- END MOBILE TITLE -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-blue-grey-10 relative-position"
    >
      <q-list>
        <div class='absolute-bottom q-pa-sm '>
          <hr>
          <q-btn
            flat
            class="row items-center   "
            style="width:100%"
            @click="logout()"
          >
            <div
              class='text-grey-2 col-2  '
              align="left"
            >
              <q-icon name="fas fa-sign-out-alt"></q-icon>
            </div>
            <div
              class='text-grey-2 col '
              align="left"
            >
              ออกจากระบบ
            </div>

          </q-btn>

        </div>
        <q-item-label
          header
          style="letter-spacing:1px"
          class="row items-center"
        >
          <q-img
            style="width:50px"
            src="../statics/logo.png"
          ></q-img>
          <div
            class="q-px-sm text-white"
            style="font-size:30px"
          >Winner@Work</div>
        </q-item-label>
        <q-separator />
        <!-- USER INFO -->
        <div class="text-grey-2 q-pa-sm">
          <q-toolbar class="text-h6">
            <q-icon
              name="fas fa-user-circle"
              size="30px"
            ></q-icon>
            <q-space />
            <div>{{ this.$q.localStorage.getItem("customerData").name }}</div>
            <q-space />
            <q-btn
              flat
              icon="fas fa-cog"
              color="grey-2"
              to="/usersetting"
            ></q-btn>
          </q-toolbar>
        </div>
        <q-separator />
        <!-- END USER INFO -->
        <!-- Vocab Menu -->
        <q-item
          clickable
          @click="setMenu(1)"
        >
          <q-item-section avatar>
            <q-img src="../statics/vocab1.png"></q-img>
          </q-item-section>
          <q-item-section>
            <q-item-label :class='{"text-secondary" : menu == 1,"text-grey-2" : menu != 1}'>คำศัพท์</q-item-label>
          </q-item-section>
        </q-item>
        <!-- End Vocab Menu -->

        <!-- Expression Menu -->
        <q-item
          clickable
          @click="setMenu(2)"
        >
          <q-item-section avatar>
            <q-img src="../statics/expression1.png"></q-img>
          </q-item-section>
          <q-item-section>
            <q-item-label :class='{"text-secondary" : menu == 2,"text-grey-2" : menu != 2}'>ประโยค</q-item-label>
          </q-item-section>
        </q-item>
        <!-- End Expression Menu -->

        <!-- Conversation Menu -->
        <q-item
          clickable
          @click="setMenu(3)"
        >
          <q-item-section avatar>
            <q-img src="../statics/dialog1.png"></q-img>
          </q-item-section>
          <q-item-section>
            <q-item-label :class='{"text-secondary" : menu == 3 ,"text-grey-2" : menu != 3}'>สนทนา</q-item-label>
          </q-item-section>
        </q-item>
        <!-- End Conversation Menu -->

        <!-- Writing Menu -->
        <q-item
          clickable
          @click="setMenu(4)"
        >
          <q-item-section avatar>
            <q-img src="../statics/writing1.png"></q-img>
          </q-item-section>
          <q-item-section>
            <q-item-label :class='{"text-secondary" : menu == 4,"text-grey-2" : menu != 4}'>การเขียน</q-item-label>
          </q-item-section>
        </q-item>
        <!-- End Writing Menu -->
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      leftDrawerOpen: false,
      pageName: this.$q.localStorage.getItem("pageName"),
      menu: this.$q.localStorage.getItem("currentMenu")
        ? this.$q.localStorage.getItem("currentMenu")
        : ""
    };
  },
  methods: {
    setMenu(menu) {
      this.$q.localStorage.set("currentMenu", menu);
      if (menu == 1) {
        // NOTE wating page
        this.$router.push("/vocabulary");
        this.$q.localStorage.set("pageName", "คำศัพท์");
        this.menu = menu;
      } else if (menu == 2) {
        // NOTE wating page
        this.$router.push("/expressionlist");
        this.$q.localStorage.set("pageName", "ประโยค");
        this.menu = menu;
      } else if (menu == 3) {
        // NOTE wating page
        this.$router.push("/dialoglist");
        this.$q.localStorage.set("pageName", "สนทนา");
        this.menu = menu;
      } else if (menu == 4) {
        // NOTE wating page
        // this.$router.push("")
        // this.$q.localStorage.set("pageName", "การเขียน");
        this.$q.notify({ message: "Coming Soon...", color: "primary" });
      } else if (menu == 5) {
        this.menu = menu;

        this.$q.localStorage.set("pageName", "ผู้ใช้งาน");
        this.$router.push("/usersetting");
      }
    },
    logout() {
      // FIXME Need to do Dialog when user press logout
      this.$q.localStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>

<style>
.bg {
  background-image: url("../statics/bg-dark.jpg");
}
</style>
